/*{
    margin:0;
    padding:0;
}*/


body{
    background-color: rgb(208, 193, 193);
    background: rgb(153, 131, 123);
}

h1{
    color:#56d756;
    font-family:Arial rgb(53, 10, 10),Gadget,sans-serif;
    font-size:19px;
    font-weight: normal;

    line-height:1.8em;
    margin:0cm;
}

h2{
    color:#56d756;
    font-family:Arial rgb(53, 10, 10),Gadget,sans-serif;
    font-size:19px;
    font-weight: normal;

    line-height:1.8em;
    margin:0cm;
}


.container{
    width:50%;
    margin:0;

}

.box-1{
    background-color:#333;
    color:#fff;
    border-right:5px white solid;
    border-left:5px white solid;
    border-top:5px white solid;
    border-bottom:5px white solid;

    /*border: 5px red solid*/
    border-width:5px;
    border-style:dotted;
    padding:20px;

}

.box-1 h1{
    font-family:Tahoma;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing:0.1em;
}
.box-1 h2{
    font-family:Tahoma;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing:0.1em;
}

.box-2{
    border:3px dotted #ccc;
    padding:20px;
    margin:20px 0;
}
