.page {
    background-color: rgba(243, 248, 255, 1);
    position: relative;
    width: 1440px;
    height: 1014px;
    overflow: hidden;
  }
  
  .mod1 {
    width: 1440px;
    height: 1014px;
  }
  
  .outer1 {
    background-color: rgba(49, 53, 60, 1);
    z-index: 2;
    height: 1014px;
    padding-top: 31px;
    width: 250px;
    position: relative;
  }
  
  .bd1 {
    width: 250px;
    height: 953px;
  }
  
  .group1 {
    width: 29px;
    height: 39px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng637d1af977a7c6637e82ee8c2bad06875e72204f2220863c83941e2e24f6da98)
      100% no-repeat;
    margin-left: 32px;
  }
  
  .group2 {
    height: 60px;
    margin-top: 41px;
    padding-left: 24px;
    width: 250px;
  }
  
  .mod2 {
    width: 110px;
    height: 24px;
  }
  
  .section1 {
    width: 24px;
    height: 24px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb2ef1bea021aa5d9028f8eef69a9d2ce6045eaf180360f9cdb5387a64081bec3)
      100% no-repeat;
  }
  
  .txt1 {
    width: 71px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 16px;
    letter-spacing: 0.15555556118488312px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 1px;
    display: block;
  }
  
  .group3 {
    background-color: rgba(44, 46, 51, 1);
    width: 249px;
    height: 61px;
  }
  
  .group4 {
    height: 60px;
    margin-top: 59px;
    padding-left: 24px;
    width: 250px;
  }
  
  .wrap1 {
    width: 206px;
    height: 24px;
  }
  
  .wrap2 {
    width: 24px;
    height: 24px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng99dc88efb144ad369332553fca6f4968b0591c73edcb499499bf0ca84f987679)
      100% no-repeat;
  }
  
  .word1 {
    width: 167px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 16px;
    letter-spacing: 0.15555556118488312px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 1px;
    display: block;
  }
  
  .group5 {
    height: 60px;
    margin-top: 573px;
    padding-left: 24px;
    width: 250px;
  }
  
  .mod3 {
    width: 99px;
    height: 24px;
  }
  
  .layer1 {
    width: 24px;
    height: 24px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngc98223b633536c7b65527bd032a191e7ba4905b1256e8a5263bd4785ad08d798)
      100% no-repeat;
  }
  
  .word2 {
    width: 60px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 16px;
    letter-spacing: 0.15555556118488312px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 1px;
    display: block;
  }
  
  .bd2 {
    z-index: 118;
    height: 60px;
    padding-left: 24px;
    width: 250px;
    position: absolute;
    left: 0;
    top: 171px;
  }
  
  .main1 {
    width: 124px;
    height: 24px;
  }
  
  .mod4 {
    width: 24px;
    height: 24px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng1adddc161f3a04cf7ba26ec3b44e8bad1afee858b4729a758bcd663eb92ef68d)
      100% no-repeat;
  }
  
  .word3 {
    width: 85px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 16px;
    letter-spacing: 0.15555556118488312px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 1px;
    display: block;
  }
  
  .bd3 {
    z-index: 128;
    height: 60px;
    padding-left: 24px;
    width: 250px;
    position: absolute;
    left: 0;
    top: 231px;
  }
  
  .wrap3 {
    width: 187px;
    height: 24px;
  }
  
  .box1 {
    width: 24px;
    height: 24px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng10c63d60e7d0a3542a7a5cad022dd4c0bf19a4209db3bdb64f732040a7a23470)
      100% no-repeat;
  }
  
  .word4 {
    width: 148px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 16px;
    letter-spacing: 0.15555556118488312px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 1px;
    display: block;
  }
  
  .bd4 {
    z-index: 145;
    height: 60px;
    padding-left: 24px;
    width: 250px;
    position: absolute;
    left: 0;
    top: 341px;
  }
  
  .outer2 {
    width: 104px;
    height: 24px;
  }
  
  .layer2 {
    width: 24px;
    height: 24px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngafff8f86e3f74683502e8854f109d2dad3d51575872df2cde3cda4c98b084854)
      100% no-repeat;
  }
  
  .info1 {
    width: 65px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 16px;
    letter-spacing: 0.15555556118488312px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 1px;
    display: block;
  }
  
  .outer3 {
    width: 1190px;
    height: 994px;
  }
  
  .section2 {
    width: 1190px;
    height: 70px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng298e8a4625b9698f5feb89312cbfeb30a53ed9e3b6e1bc89ff87fc4ea7db22da)
      100% no-repeat;
  }
  
  .section3 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 240px;
    border: 1px solid rgba(215, 227, 241, 1);
    width: 1150px;
    margin: 20px 0 0 20px;
  }
  
  .main2 {
    width: 378px;
    height: 40px;
    margin: 30px 0 0 30px;
  }
  
  .word5 {
    width: 80px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 16px;
    margin-top: 12px;
    display: block;
  }
  
  .SelectArea91 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    height: 40px;
    border: 1px solid rgba(216, 220, 230, 1);
    padding-left: 14px;
    width: 224px;
  }
  
  .box2 {
    width: 199px;
    height: 14px;
  }
  
  .word6 {
    width: 74px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(144, 147, 153, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    display: block;
  }
  
  .label1 {
    width: 8px;
    height: 5px;
    margin-top: 5px;
  }
  
  .main3 {
    width: 854px;
    height: 40px;
    margin: 30px 0 0 30px;
  }
  
  .txt2 {
    width: 84px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 16px;
    margin-top: 12px;
    display: block;
  }
  
  .layer3 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 40px;
    border: 1px solid rgba(216, 220, 230, 1);
    margin-left: 70px;
    padding-left: 14px;
    width: 224px;
  }
  
  .box3 {
    width: 197px;
    height: 22px;
  }
  
  .word7 {
    width: 66px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(144, 147, 153, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    margin-top: 4px;
    display: block;
  }
  
  .txt3 {
    width: 12px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-left: 5px;
    display: block;
  }
  
  .word8 {
    width: 59px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(144, 147, 153, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    display: block;
    margin: 3px 0 0 15px;
  }
  
  .mod5 {
    width: 16px;
    height: 16px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng481b65d774362443c9a30b004cf4cdd917032037179d8fbc016368595a7cefba)
      100% no-repeat;
    margin: 2px 0 0 24px;
  }
  
  .layer4 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 40px;
    border: 1px solid rgba(222, 226, 236, 1);
    margin-left: 12px;
    padding-left: 20px;
    width: 108px;
  }
  
  .word9 {
    width: 67px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: center;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .layer5 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 40px;
    border: 1px solid rgba(222, 226, 236, 1);
    margin-left: 12px;
    padding-left: 17px;
    width: 108px;
  }
  
  .info2 {
    width: 72px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: center;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .layer6 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 40px;
    border: 1px solid rgba(222, 226, 236, 1);
    margin-left: 10px;
    padding-left: 17px;
    width: 108px;
  }
  
  .info3 {
    width: 72px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: center;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .Tag215 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 40px;
    border: 1px solid rgba(222, 226, 236, 1);
    margin-left: 10px;
    padding-left: 17px;
    width: 108px;
  }
  
  .info4 {
    width: 72px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: center;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .main4 {
    width: 1096px;
    height: 50px;
    margin: 30px 0 20px 30px;
  }
  
  .box4 {
    height: 40px;
    width: 469px;
  }
  
  .bd5 {
    width: 463px;
    height: 16px;
  }
  
  .txt4 {
    width: 138px;
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 16px;
    display: block;
  }
  
  .outer4 {
    width: 14px;
    height: 14px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngff69a0062075f4b8ac79e1051ca6ae686fe64a56d739370be2f2534c77076c88)
      100% no-repeat;
    margin: 1px 0 0 16px;
  }
  
  .word10 {
    width: 41px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(25, 137, 250, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    display: block;
    margin: 1px 0 0 10px;
  }
  
  .outer5 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(213, 216, 222, 1);
    margin: 1px 0 0 24px;
  }
  
  .txt5 {
    width: 80px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(96, 98, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    display: block;
    margin: 1px 0 0 10px;
  }
  
  .outer6 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(213, 216, 222, 1);
    margin: 1px 0 0 24px;
  }
  
  .word11 {
    width: 68px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(95, 98, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    display: block;
    margin: 1px 0 0 10px;
  }
  
  .Button286 {
    background-color: rgba(83, 143, 255, 1);
    border-radius: 18px;
    height: 36px;
    margin-top: 14px;
    padding-left: 20px;
    width: 92px;
  }
  
  .word12 {
    width: 52px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: center;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .section4 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    z-index: 3;
    height: 648px;
    border: 1px solid rgba(215, 227, 241, 1);
    padding-top: 48px;
    width: 1150px;
    position: relative;
    margin: 16px 0 0 20px;
  }
  
  .main5 {
    width: 1150px;
    height: 569px;
  }
  
  .wrap4 {
    background-color: rgba(255, 255, 255, 0.47);
    height: 80px;
    padding-left: 24px;
    width: 1150px;
  }
  
  .section5 {
    width: 929px;
    height: 20px;
  }
  
  .txt6 {
    width: 82px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .word13 {
    width: 45px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 78px;
    display: block;
  }
  
  .word14 {
    width: 123px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 110px;
    display: block;
  }
  
  .txt7 {
    width: 62px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 197px;
    display: block;
  }
  
  .outer7 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 120px;
  }
  
  .word15 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .info5 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .txt8 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .wrap5 {
    background-color: rgba(243, 248, 255, 0.47);
    height: 80px;
    padding-left: 24px;
    width: 1150px;
  }
  
  .wrap6 {
    width: 929px;
    height: 20px;
  }
  
  .info6 {
    width: 82px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .word16 {
    width: 60px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 78px;
    display: block;
  }
  
  .info7 {
    width: 123px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 95px;
    display: block;
  }
  
  .word17 {
    width: 62px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 197px;
    display: block;
  }
  
  .section6 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 120px;
  }
  
  .info8 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .word18 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .txt9 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .wrap7 {
    background-color: rgba(255, 255, 255, 0.47);
    height: 80px;
    padding-left: 24px;
    width: 1150px;
  }
  
  .wrap8 {
    width: 929px;
    height: 20px;
  }
  
  .info9 {
    width: 82px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .info10 {
    width: 45px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 78px;
    display: block;
  }
  
  .word19 {
    width: 123px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 110px;
    display: block;
  }
  
  .word20 {
    width: 51px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 197px;
    display: block;
  }
  
  .layer7 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 131px;
  }
  
  .word21 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .word22 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .txt10 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .wrap9 {
    background-color: rgba(243, 248, 255, 0.47);
    height: 80px;
    padding-left: 24px;
    width: 1150px;
  }
  
  .section7 {
    width: 929px;
    height: 20px;
  }
  
  .word23 {
    width: 82px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .info11 {
    width: 60px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 78px;
    display: block;
  }
  
  .word24 {
    width: 123px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 95px;
    display: block;
  }
  
  .word25 {
    width: 71px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 197px;
    display: block;
  }
  
  .main6 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 111px;
  }
  
  .txt11 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .info12 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .txt12 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .wrap10 {
    background-color: rgba(255, 255, 255, 0.47);
    height: 80px;
    padding-left: 24px;
    width: 1150px;
  }
  
  .mod6 {
    width: 929px;
    height: 20px;
  }
  
  .word26 {
    width: 82px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .txt13 {
    width: 45px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 78px;
    display: block;
  }
  
  .word27 {
    width: 123px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 110px;
    display: block;
  }
  
  .txt14 {
    width: 71px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 197px;
    display: block;
  }
  
  .bd6 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 111px;
  }
  
  .txt15 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .word28 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .info13 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .wrap11 {
    background-color: rgba(243, 248, 255, 0.47);
    height: 80px;
    padding-left: 24px;
    width: 1150px;
  }
  
  .block1 {
    width: 929px;
    height: 20px;
  }
  
  .word29 {
    width: 82px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    display: block;
  }
  
  .word30 {
    width: 60px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 78px;
    display: block;
  }
  
  .txt16 {
    width: 123px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 95px;
    display: block;
  }
  
  .txt17 {
    width: 71px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 197px;
    display: block;
  }
  
  .bd7 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 111px;
  }
  
  .word31 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .word32 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .info14 {
    width: 112px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(40, 120, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .wrap12 {
    width: 231px;
    height: 14px;
    margin: 75px 0 0 460px;
  }
  
  .icon1 {
    width: 7px;
    height: 11px;
    margin-top: 1px;
  }
  
  .word33 {
    width: 7px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(25, 137, 250, 1);
    font-size: 14px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    margin-left: 23px;
    display: block;
  }
  
  .word34 {
    width: 9px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(96, 98, 102, 1);
    font-size: 14px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    margin-left: 30px;
    display: block;
  }
  
  .word35 {
    width: 9px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(96, 98, 102, 1);
    font-size: 14px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    margin-left: 30px;
    display: block;
  }
  
  .info15 {
    width: 10px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(96, 98, 102, 1);
    font-size: 14px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    margin-left: 30px;
    display: block;
  }
  
  .word36 {
    width: 9px;
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(96, 98, 102, 1);
    font-size: 14px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 14px;
    margin-left: 30px;
    display: block;
  }
  
  .icon2 {
    width: 7px;
    height: 11px;
    margin: 1px 0 0 30px;
  }
  
  .main7 {
    z-index: 56;
    height: 529px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb8fc657bafb0338b95459323b6ba411f7f6b39df9d752c104c4519c546d9d490)
      100% no-repeat;
    width: 1150px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px 0 0 24px;
  }
  
  .block2 {
    width: 870px;
    height: 21px;
  }
  
  .word37 {
    width: 31px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 1px;
    display: block;
  }
  
  .info16 {
    width: 30px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    display: block;
    margin: 1px 0 0 129px;
  }
  
  .word38 {
    width: 35px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    display: block;
    margin: 1px 0 0 125px;
  }
  
  .word39 {
    width: 43px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 285px;
    display: block;
  }
  
  .word40 {
    width: 53px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(39, 49, 66, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 139px;
    display: block;
  }
  